body{
    background-color: aqua;
     font-family: cursive;
}

 

#con{
     width: 600px;
     height: 600px;
     background-color: rgb(255, 255, 255);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 10%;
      padding: 20px;
      border-radius: 20px;
      background-color: rgba(240, 248, 255, 0.608);
      backdrop-filter: blur(20px);

}
nav{
    height: 50px;
    background-color: rgba(136, 132, 255, 0.852);
    border-radius: 10px;
}
span{
    position: absolute;
     height: 100px;
     width: 94%;
    border: 5px solid rgb(136, 132, 255);
    left: 50%;
      transform: translateX(-50%);
      font-size: 55px;
      text-align: center;
      border-radius: 20px;
      
      
}

#play{
        position:  absolute;
        left: 15px;
        width: 170px;
        height: 75%;
        position: absolute;
        border: 5px solid rgb(136, 132, 255) ;
        top: 22%;
        border-radius: 20px;
}
#input{
    position: absolute;
   height: 50px;
    width: 40%;
    bottom:  20px;
    left: 49%;
    font-size: 25px;
    font-weight: bolder;
    border: 2px solid rgb(136, 132, 255);
}

#report{
    position: absolute;
    color: red;
    font-weight: bolder;
     border-radius: 5px;
    bottom:  35px;
    left: 35%;
    font-family: cursive;
}
 
#enter_btn{
    position: absolute;
    
     width: 50px;
    bottom:  20px;
     right: 10px;
}
#block{
    position: absolute;
    
    width: 50px;
   bottom:  20px;
    right: 10px;
    z-index: 2;
     height: 50px;
     display: none;
}

#timer{
    position: absolute;
    width: 130px;
    height: 50px;
    left: 33%;
    top: 22%;
    border: 5px groove rgb(136, 132, 255);
    font-size: 40px;
    font-weight: bolder;
    border-radius: 20px;
     text-align: center;
     color: rgb(111, 0, 255);
}

#name{
    position: absolute;
    left: 43%;
    top: 50%;
    font-weight: bolder;
     
}
#name_btn{
    position: absolute;
    left: 50%;
    top: 50%;
    font-weight: bolder;
     text-align: center;
     font-size: 45px;
     font-family: cursive;
     border-radius: 20px;
     color: rgb(8, 0, 255);
     background-color: rgba(255, 255, 255, 0.532);
     border: 2px solid blue;
     
}
#user_name{
    position: absolute;
    left: 50%;
    height: 40px;
    width: 200px;
    top: 65%;
    font-weight: bolder;
     border-radius: 10px;
     font-size: 20px;
     color: rgb(8, 0, 255);
     background-color: rgba(255, 255, 255, 0.532);
     border: 2px  solid blue;
     display: none;
}
 
.players{
     position: absolute;
     width: 90%;
     left: 50%;
     transform: translateX(-50%);
    text-align: center;
    border: 3px solid rgb(0, 34, 255);
    color: darkviolet;
}

#host_in{

    position: absolute;
    height: 100px;
    width: 90%;
    top: 24.5px;
   font-size:55px;
   left: 50%;
   border: 0px;
     transform: translateX(-50%);
     text-align: center;
     outline: none;
     display: none;
     font-family: cursive;
     border-radius: 20px;
     background-color: white;
      
     
}
.op{

    position:relative;
    margin-left: 20px;
    top: 60%;
    left: 50%;
    margin-top: 10px;
    font-size: 25px;
    display: none;
}
#exp{
    position: absolute;
    right: 20%;
    border-radius: 90%;
     height: 100px;
     top: 70%;
     display: none;
}

#player_head{
    position: absolute;
    left: 10%;
    
    top: 20%;
}

#waiting{

    position: absolute;
    left: 50%;
    top: 50%;
    display: none;
}
#waiting_play{

    position: absolute;
    left: 50%;
    top:70%;
    background-color: white;
    width: 150px;
    font-size: 13px;
    font-weight: bold;
    display: none;
}
#winner{
    position:absolute ;
    width: 300px;
    height: 300px;
    background-color: white;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border-radius: 20px;
    padding: 10px;
    color: rgb(0, 255, 0);
    display: none;
}
#win_gif{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
}
#congrats{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: cursive;
    font-size: 35px;
    z-index: 1;
}
#winner_name{
    position: absolute;
    left: 50%;
    top: 70%;
    width: 300px;
    transform: translateX(-50%);
    font-family: cursive;
    font-size: 35px;
    z-index: 1;
    color: blueviolet;
    text-align: center;
     
}
/* -----------------------------how to play and rules----------------------------- */

.sub_con{

     width: 400px;
     height: 635px;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    background: transparent;
    background-color: rgba(240, 248, 255, 0.608);
    position: absolute;
    top: 10%;
    
}

 

#how{
left: 15px;
}

#pop_up{
    position:absolute ;
    width: 300px;
    height: 300px;
    background-color: white;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border-radius: 20px;
    padding: 10px;
    color: blue;
    display: none;
}

#countdown{
    margin-left: 21%;
}

/* ---------------------media query------------------------------- */
@media only screen and (max-width: 600px) {
     
    span{
        width: 85%;
    }

    #play{
        width: 140px;
        left: 7%;
    }
    #report{
        left: 32%;
    }
    #input{
        left: 45%;
    }
    #enter_btn{
        right: 40px;
    }
    #host_in{
        width: 80%;
    }
    #block{
        right: 40px;
    }
    .sub_con{

        width: 550px;
        height: 635px;
        left: 50%;
       top: 100%;
       
   }
   #exp{
    right: 30%;
   }

   #player_head{
    left: 14%;
   }
    
  }

  @media only screen and (max-width: 500px) {
    #player_head{
        left: 24%;
       }
    span{
        width: 60%;
    }

    #play{
        width: 120px;
        left: 19.5%;
        height: 65%;
    }
    #report{
        left: 25%;
    }
    #input{
        left: 43%;
        width: 30%;
    }
    #enter_btn{
        right: 100px;
    }
    #block{
        right: 100px;
    }

    #timer{
        left: 58.5%;
    }
    #host_in{
        width: 60%;
    }
    #how{
        width: 90%;
        height: 635px;
        left: 5%;
       top: 100%;
       

    }
  }
  @media only screen and (max-width: 400px) {
    #player_head{
        left: 30%;
       }
    span{
        width: 50%;
    }

    #play{
        width: 120px;
        left: 24.5%;
        height: 60%;
    }
    #report{
        bottom: 80px;
        left: 25%;
        width: 120px;
    }
    #input{
        left: 25%;
        width: 40%;
    }
    #enter_btn{
        right: 160px;
    }
    #block{
        right: 160px;
    }

    #timer{
        left: 53.7%;
    }

    #name{
        width: 120px;
        left: 53%;
        
        
         
    }
    #name_btn{
        left: 50%;
        
    }
    #host_in{
        width: 50%;
    }
    #how{
        width: 90%;
        height: 635px;
        left: 5%;
       top: 100%;
       

    }
    #user_name{
        width: 180px;
    }

  }
  @media only screen and (max-width: 300px) {
    #player_head{
        left: 34%;
       }
    span{
        width: 40%;
    }

    #play{
        width: 120px;
        left: 29%;
        height: 60%;
    }
    #report{
        bottom: 80px;
        left: 29%;
        width: 120px;
    }
    #input{
        left: 29%;
        width: 33%;
    }
    #enter_btn{
        right: 180px;
    }
    #block{
        right: 180px;
    }

    #timer{
        left: 53%;
        width: 100px;
    }
    #host_in{
        width: 40%;
    }
  }

   